<header>
  <nav>
    <div class="navbar">
      <ul>
        <li>Home</li>
        <li>Novidades</li>
        <li>Curiosidades</li>
      </ul>

    </div>
  </nav>

  <div class="content-title">
    <h1>{{title | uppercase}}</h1>
    <img src="{{ img }}" alt="Homer Simpsons deitado, dormindo e babando. Trajando uma cueca em seu sofá marrom, sua cabeça está sobre um travesseiro. Ele está com uma lata de cerveja sustentada em sua barriga, o braço fora do sofá e encostando no chão.">
  </div>
</header>
